@import
	"partials/base",
    "partials/header",
    "partials/jumbotron",
	"partials/content-bottom",
	"partials/footer";


/*********************************
        VARIABLES
*********************************/


/*********************************
        GENERAL CLASSES
*********************************/
html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: $color-black;
	.body-wrap {
		display: block;
		width: 100%;
		height: 100%;
		overflow: visible;
		position: fixed;
		top: 0;
		left: 0;
		&.inactive {
			left: -100%;
			right: auto;
		}
	}
}
a {
}
h1, h2, h3, h4, h5, h6 {
}

hr {
}

img {
    max-width: 100%;
}
nav {
	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
	}
}
ul {
}

[class^="icon"] {
	background-repeat: no-repeat;
	background-position: center center;
}
[class*="-arrow-"] {
	background-image: url("../img/arrows.svg");
}
[class*="ui-"] {
	&.active, &.moving {
		z-index: 10;
	}
}
[class*="ui-moving-"] {
	.ui-menu, .ui-match, .body-wrap {
		@include transition(left 0.5s, right 0.5s);
	}
}


/*********************************
        CONTENT STYLES
*********************************/

section[class^="ui-"] {
	width: 100%;
	height: 100%;
	height: calc(100% - #{$height-header});
	padding: 0;
	overflow: auto;
}

.ui-menu {
    position: absolute;
    left: 0;
	top: $height-header;
	&.inactive {
    }
	.tile {
		opacity: 1;
	}
}
.intro {
	.ui-menu {
		.tile {
			opacity: 0;
		}
	}
}
.live, .ui-updating {
	.ui-menu {
		.tile {
			opacity: 1;
			@for $item from 1 through 9 {
				&:nth-child(#{$item}) {
					@include transition(opacity #{0.5 * $item}s);
				}
			}
		}
	}
}


/*********************************
        MEDIA QUERIES
*********************************/


@media (min-width: $breakpoint-md) {

}
