@import
	"partials/base",
    "partials/header",
    "partials/jumbotron",
	"partials/content-bottom",
	"partials/footer";


/*********************************
        VARIABLES
*********************************/


/*********************************
        GENERAL CLASSES
*********************************/
html {
	height: 100%;
	overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
	height: 100%;
	overflow: hidden;
	background-color: $color-black;
}
a {
}
h1, h2, h3, h4, h5, h6 {
}

hr {
}

img {
    max-width: 100%;
}
nav {
	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
	}
}
ul {
}

/*********************************
        CONTENT STYLES
*********************************/

section[class^="ui-"] {
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: auto;
}

/*********************************
        MEDIA QUERIES
*********************************/


@media (min-width: $breakpoint-md) {

}
