body {
	font-size: 62.5%;
}


/****************************
		WEIGHTS
****************************/



/****************************
		SIZES
****************************/



/****************************
		COLORS
****************************/


/****************************
		EXTRAS
****************************/

[class^="dropshadow-"] {
	&:before {
		color: rgba(0,0,0,0.15);
		position: absolute;
		z-index: -1;
		top: 0.75rem;
	}
}
.dropshadow-A { &:before { content:"A"; } }
.dropshadow-a { &:before { content:"a"; } }
.dropshadow-B { &:before { content:"B"; } }
.dropshadow-b { &:before { content:"b"; } }
.dropshadow-C { &:before { content:"C"; } }
.dropshadow-c { &:before { content:"c"; } }
.dropshadow-D { &:before { content:"D"; } }
.dropshadow-d { &:before { content:"d"; } }
.dropshadow-E { &:before { content:"E"; } }
.dropshadow-e { &:before { content:"e"; } }
.dropshadow-F { &:before { content:"F"; } }
.dropshadow-f { &:before { content:"f"; } }
.dropshadow-G { &:before { content:"G"; } }
.dropshadow-g { &:before { content:"g"; } }
.dropshadow-H { &:before { content:"H"; } }
.dropshadow-h { &:before { content:"h"; } }
.dropshadow-I { &:before { content:"I"; } }
.dropshadow-i { &:before { content:"i"; } }
.dropshadow-J { &:before { content:"J"; } }
.dropshadow-j { &:before { content:"j"; } }
.dropshadow-K { &:before { content:"K"; } }
.dropshadow-k { &:before { content:"k"; } }
.dropshadow-L { &:before { content:"L"; } }
.dropshadow-l { &:before { content:"l"; } }
.dropshadow-M { &:before { content:"M"; } }
.dropshadow-m { &:before { content:"m"; } }
.dropshadow-N { &:before { content:"N"; } }
.dropshadow-n { &:before { content:"n"; } }
.dropshadow-O { &:before { content:"O"; } }
.dropshadow-o { &:before { content:"o"; } }
.dropshadow-P { &:before { content:"P"; } }
.dropshadow-p { &:before { content:"p"; } }
.dropshadow-Q { &:before { content:"Q"; } }
.dropshadow-q { &:before { content:"q"; } }
.dropshadow-R { &:before { content:"R"; } }
.dropshadow-r { &:before { content:"r"; } }
.dropshadow-S { &:before { content:"S"; } }
.dropshadow-s { &:before { content:"s"; } }
.dropshadow-T { &:before { content:"T"; } }
.dropshadow-t { &:before { content:"t"; } }
.dropshadow-U { &:before { content:"U"; } }
.dropshadow-u { &:before { content:"u"; } }
.dropshadow-V { &:before { content:"V"; } }
.dropshadow-v { &:before { content:"v"; } }
.dropshadow-W { &:before { content:"W"; } }
.dropshadow-w { &:before { content:"w"; } }
.dropshadow-X { &:before { content:"X"; } }
.dropshadow-x { &:before { content:"x"; } }
.dropshadow-Y { &:before { content:"Y"; } }
.dropshadow-y { &:before { content:"y"; } }
.dropshadow-Z { &:before { content:"Z"; } }
.dropshadow-z { &:before { content:"z"; } }
.dropshadow-question { &:before { content:"?"; } }
.dropshadow-exclamation { &:before { content:"!"; } }
