$tile-border-thickness: 10px;
$tile-font-size-xs: 6.5rem;
$tile-font-size-sm: 7.5rem;

.tiles-wrap {
	height: 100%;
	position: relative;
	z-index: 1;
	&:not(.nav) {
		overflow: hidden;
	}
	.tiles {
		height: 100%;
		list-style: none;
		padding: 0;
		margin: 0;
		&.animate {
			.tile {
				@include transition(all 0.25s!important);	
			}
		}
		.tile {
			font-family: $font-mega-thin-caps;
			position: relative;
			height: 33.333%;
			min-height: ($tile-font-size-xs + 5rem);
			border: 5px solid $color-black;
            left: 0;
			&.exploding {
				background-color: transparent;	
				.tile-inner-wrap {
					opacity: 0;
				}
				.pixel {
					display: block;
				}
			}
			.pixel {
				position: absolute;
				display: none;
			}
			.tile-inner-wrap {
				position: relative;
				z-index: 1;
				font-size: $tile-font-size-xs;
				color: $color-white;
				text-align: center;
				display: block;
				height: 100%;
				background-color: transparent;
				> * {
					&[class^="border-"] {
						position: absolute;
						background-color: rgba(0,0,0,0.1);
						width: calc(100% - (#{$tile-border-thickness} * 2));
						height: $tile-border-thickness;
						&:before, &:after {
							content: "";
							display: block;
							position: absolute;
							width: $tile-border-thickness;
							height: $tile-border-thickness;
							background-color: transparent;
						}
					}
					&.border-top {
						left: $tile-border-thickness;
						top: 0;
					}
					&.border-bottom {
						left: $tile-border-thickness;
						bottom: 0;
					}
					&.border-left {
						height: calc(100% - (#{$tile-border-thickness} * 2));
						width: $tile-border-thickness;
						left: 0;
						top: $tile-border-thickness;
					}
					&.border-right {
						height: calc(100% - (#{$tile-border-thickness} * 2));
						width: $tile-border-thickness;
						right: 0;
						top: $tile-border-thickness;
					}
				}
				.letter, .icon {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					&[class^="dropshadow-"] {
						font-size: $tile-font-size-xs;
					}
				}
				.icon {
					display: block;
					width: 75px;
					height: 75px;
					margin: 0 auto;
					background-size: auto 75px;
					&.icon-arrow-left {
						background-position: left -15px center;
					}
					&.icon-arrow-right {
						background-position: left -105px center;
					}
				}	
				.tile-click-overlay {
					display: block;
					position: absolute;
					width: 100%;
					height: 100%; 
					top: 0;
					left: 0;
					z-index: 2;
					background-color: transparent;
					@include transition(background-color 0.15s);
					&.selected {
					background-color: white;
						@include alpha-background-color(rgba($color-white, 0.5),$color-white);
					}
				}
			}
			&:hover {
				cursor: pointer;
				&:before {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			&:nth-child(9n-8) {
				.border-right {
					&:before {
						top: -$tile-border-thickness;
						right: 0;
						height: calc(100% + (#{$tile-border-thickness} * 2));
						background-color: rgba(0,0,0,0.25);
					}
				}
				.border-bottom {
					&:after {
						bottom: 0;
						left: -$tile-border-thickness;
						width: calc(100% + (#{$tile-border-thickness} * 2));
						background-color: rgba(0,0,0,0.25);
					}
				}
			}
			&:nth-child(9n-7) {
				.tile-inner-wrap {
					.border-bottom {
						&:after {
							bottom: 0;
							left: -$tile-border-thickness;
							width: calc(100% + (#{$tile-border-thickness} * 2));
							background-color: rgba(0,0,0,0.25);
						}
					}
				}
			}
			&:nth-child(9n-6) {
				.tile-inner-wrap {
					.border-left {
						&:before {
							top: -$tile-border-thickness;
							left: 0;
							height: calc(100% + (#{$tile-border-thickness} * 2));
							background-color: rgba(0,0,0,0.25);
						}
					}
					.border-bottom {
						&:after {
							bottom: 0;
							left: -$tile-border-thickness;
							width: calc(100% + (#{$tile-border-thickness} * 2));
							background-color: rgba(0,0,0,0.25);
						}
					}
				}
			}
			&:nth-child(9n-5) {
                .tile-inner-wrap {
					.border-right {
                        &:before {
                            top: -$tile-border-thickness;
                            right: 0;
                            height: calc(100% + (#{$tile-border-thickness} * 2));
                            background-color: rgba(0,0,0,0.25);
                        }
                    }
				}
            }
			&:nth-child(9n-4) {
                .tile-inner-wrap {
                }
            }
			&:nth-child(9n-3) {
                .tile-inner-wrap {
					.border-left {
                        &:before {
                            top: -$tile-border-thickness;
                            left: 0;
                            height: calc(100% + (#{$tile-border-thickness} * 2));
                            background-color: rgba(0,0,0,0.25);
                        }
                    }
				}
            }
			&:nth-child(9n-2) {
                .tile-inner-wrap {
					.border-right {
                        &:before {
                            top: -$tile-border-thickness;
                            right: 0;
                            height: calc(100% + (#{$tile-border-thickness} * 2));
                            background-color: rgba(0,0,0,0.25);
                        }
                    }
					.border-top {
                        &:after {
                            top: 0;
                            left: -$tile-border-thickness;
                            width: calc(100% + (#{$tile-border-thickness} * 2));
                            background-color: rgba(0,0,0,0.25);
                        }
                    }
				}
            }
			&:nth-child(9n-1) {
                .tile-inner-wrap {
					.border-top {
                        &:after {
                            top: 0;
                            left: -$tile-border-thickness;
                            width: calc(100% + (#{$tile-border-thickness} * 2));
                            background-color: rgba(0,0,0,0.25);
                        }
                    }
				}
            }
			&:nth-child(9n) {
                .tile-inner-wrap {
					.border-left {
                        &:before {
                            top: -$tile-border-thickness;
                            left: 0;
                            height: calc(100% + (#{$tile-border-thickness} * 2));
                            background-color: rgba(0,0,0,0.25);
                        }
                    }
					.border-top {
                        &:after {
                            top: 0;
                            left: -$tile-border-thickness;
                            width: calc(100% + (#{$tile-border-thickness} * 2));
                            background-color: rgba(0,0,0,0.25);
                        }
                    }
				}
            }
			&.pushed-right {
				left: 33.333%;
			}
		}
	}
	.pixels {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	&.nav {
		position: absolute;
		.tiles {
			.tile {

			}
		}
		&.left {
			width: 100%;
			height: calc(100% - #{$height-header});
			top: $height-header;
			right: 100%;
		}
		
	}
}

.ui-updating {
    .tiles-wrap {
        .tiles {
            .tile {
                @include transition(background-color 1s);    
            }    
        }    
    }    
}

/*********************************
        MEDIA QUERIES
*********************************/

@media (min-width: $breakpoint-md) {

}
