.ui-match {
	position: absolute;
	right: -100%;
	top: $height-header;
}

#ui-match {
	.tile {
        &.center {
            .tile-inner-wrap {
                background-color: $color-black;
            }
        }
    }	
}

/*********************************
        MEDIA QUERIES
*********************************/

@media (min-width: $breakpoint-md) {

}
