$wave-top-height : 25px; 
$wave-top-width : $wave-top-height * 2;
$pixel-size : 5px;
$max-waves : 5;
$wave-height : 300px + $wave-top-height;

.wave-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 125%;
	cursor: auto;
	.wave-top {
		display: block;
		position: relative;
		float: left;
		width: $wave-top-width; 
		height: $wave-top-height;
		font-size: $pixel-size;
		background-repeat: no-repeat;
		background-size: 100% 20%;
		background-position: 0em 0em, 0em 1em, 0em 2em, 0em 3em, 0em 4em;
		&:before {
			font-size: $pixel-size;
			background-repeat: no-repeat;
			background-size: 100% 20%;
			background-position: 0em 0em, 0em 1em, 0em 2em, 0em 3em, 0em 4em;
		}
	}
	.wave-bottom {
		display: block;
		width: 100%; 
		height: 300px;
		clear: both;
	}
	@for $i from 1 through $max-waves {
		&:nth-last-of-type(#{$i}) {
			bottom: -$wave-height;
		}
	}
}

.showing, .shown {
	.wave-container {
		@include transition(bottom .5s cubic-bezier(0.175, 0.885, 0.320, 1.275)); //easeOutBack
		@for $i from 1 through $max-waves {
			&:nth-last-of-type(#{$i}) {
				bottom: (75px * $i) - $wave-height;
			}
		}
	}
}
.shown {
	.wave-container {
		@include transition(all 0s);
	}
}
.hiding {
	.wave-container {
		@include transition(bottom .5s cubic-bezier(0.600, -0.280, 0.735, 0.045));
	}
}

/*********************************
        MEDIA QUERIES
*********************************/

@media (min-width: $breakpoint-md) {

}
