/*************************************
			VARIABLES
*************************************/


/****** Colors ******/
$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);

/** Tiles **/
$color-yellow: rgb(245,218,1);
$color-red: rgb(245,29,1);

/** Theme **/
$color-theme-blue: #0bccdd;

/** Typography **/
$font-mega-thin-caps: 'megafont thin caps';

/** Global Spacing/Margins **/

/** Global Sizes **/
$height-header: 50px;
/** Global Sizes End **/


/** Breakpoints **/
$breakpoint-xs     : "34em";
$breakpoint-sm     : "48em";
$breakpoint-md     : "62em";
$breakpoint-lg     : "75em";
